.navbar {
	height: 110px;
	background: linear-gradient(90.32deg, #3e1f92 0%, #fa949d 124.75%);
}
.logo {
	position: relative;
	width: 56.57px;
	height: 56.57px;

	background: #fa949d;
	border-radius: 6px;
	transform: rotate(-45deg);
}
.call-icon {
	position: absolute;
	left: 2.65%;
	top: 18px;
	margin-top: 15px;
}
.top-header {
	position: relative;
	width: 207px;
	height: 44px;

	font-family: 'Exo 2';
	font-style: normal;
	font-weight: 300;
	font-size: 40px;
	line-height: 48px;

	color: #fa949d !important;
}
.heading {
	position: absolute;
	width: 270px;
	height: 70px;
	left: 50px;

	font-family: 'Roboto';
	font-style: normal;

	font-size: 60px;
	line-height: 90px;

	color: #000000;
}
.user-entry {
	margin-top: 1px;
	padding: 1px;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
}
.info-group {
	width: 240px;
}
.column-label {
	margin-top: 20px;
	padding: 15px;
	display: flex;
	justify-content: space-evenly;
}
.title-label {
	display: flex;
	width: 155px;
	height: 23px;

	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 23px;

	color: #000000;
}

.label-box {
	margin-top: 5px;
	width: 155px;
	height: 40px;

	background: #e8eaeb !important;
	border-radius: 12px;
}
