.header {
	width: 600px;
	height: 72px;
	left: 500px;
	font-family: 'Folio';
	font-style: normal;
	font-weight: 500;
	font-size: 60px;
	line-height: 72px;
	text-align: center;
	color: #3e1f92;
}
.form-field {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-top: 50px;
	background: #ffffff;
}

.button-group {
	margin-bottom: 35px;
	display: flex;
	justify-content: center;
}
