.navbar {
	height: 110px;
	background: linear-gradient(90.32deg, #3e1f92 0%, #fa949d 124.75%);
}
.logo {
	position: relative;
	width: 56.57px;
	height: 56.57px;

	background: #fa949d;
	border-radius: 6px;
	transform: rotate(-45deg);
}
.call-icon {
	position: absolute;
	margin-top: 15px;
	left: 2.65%;

	right: 93.11%;
}
.top-header {
	position: relative;
	width: 207px;
	height: 30px;

	font-family: 'Exo 2';
	font-style: normal;
	font-weight: 300;
	font-size: 40px;
	line-height: 48px;

	color: #fa949d !important;
}
.nav-title {
	padding: 18px;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 60px;
	line-height: 70px;
	color: #000000;
}
.top-container {
	margin: 5px;
	padding-right: 50px;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: flex-end;
	width: auto;
	height: auto;
}

.top-container button {
	margin: 3px;
	width: 170px;
	height: 55px;
	background: #ac3131;
	font-family: 'Exo 2';

	border-radius: 13px;
}
.top-container button .links {
	font-family: 'Exo 2';
	font-style: normal;
	font-weight: 100;
	font-size: 18px;
	line-height: 48px;
	text-decoration: none;
	color: #ffffff;
	text-align: center;
}
.top-container button .links:hover {
	text-decoration: underline;
}

.bottom-container {
	width: 100%;
	height: 50vh;
	margin: 20px;
	padding: 10px;
}

.bottom-container .row {
	margin-left: 90px;
	height: 25vh;
}
Col {
	background: #e6e6e6;
	border-radius: 34px;
}

.profession-card {
	width: 260px;
	height: 210px;
	background: #e6e6e6 !important;
	border-radius: 34px !important;
}
.card-body {
	margin-top: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.title-name {
	padding: 15px;
	font-family: 'Exo 2';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 48px;
	/* identical to box height */

	color: #000000;
}
.profession-number {
	padding: 2px;
	font-family: 'Exo 2';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 48px;
	/* identical to box height */
	display: flex;
	align-items: center;

	color: #000000;
}
